/*  
    -left content is the profile image
    -right side content is description about me
*/

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 40px;
}

.about-content {
    margin-top: 150px;
    display: flex;
}

.about-content-left img {
    align-items: flex-start;
    width: 100%;
    margin-top: 80px;
}

.about-content-right {
    align-items: flex-end;
    width: 700px;
    padding: 20px;
}

.about-content-right p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    opacity: .5;
    text-align: justify;
}

/* media queries */


/* portrait */
@media (orientation: portrait) {

/* centralize .social-media  */

.social-media  {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content-right {
    width: 100px;
}
}
