* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    zoom: 85px;
}

html body {
    background-color: #090E16;
    color: #fff;
    font-family: Raleway, sans-serif;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.root {
    background-color: #0C0F17 #7b4ae2;
}

main {
    margin-top: 150px;
}



section {
    height: 100vh;
    margin-bottom: 280px;
}

h1 {
    margin: 24px 0px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    color: rgb(255, 255, 255);
}

h6 {
    margin: 0px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}

/* media queries */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    section {
        height: auto;
        margin-bottom: 100px;
    }

    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    h6 {
        font-size: 16px;
    }
}