* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html body {
     background-color: #090E16;
    color: #fff;
    font-family: Raleway, sans-serif;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
}

main {
    margin-top: 150px;
}



section {
    height: 100vh;
    margin-bottom: 140px;
}

h1 {
    margin: 24px 0px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    color: rgb(255, 255, 255);
}

h6 {
    margin: 0px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}
