/*
    Stylezation to career.css section
    - in this section will apper card with my
    experience and my school trajectory
*/

#career {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1645px;
    margin: 140px 0px;
}

.career-content {
    display: flex;
    align-items: flex-start;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
    gap: 64px;
    margin: 64px 0px 0px;
}

.career-content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.career-content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.career-content-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    flex-direction: column;
}

.career-content-card {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 520px;
    border-radius: 16px;
    transition: 0.6s ease-in-out;
    border: 1px solid rgba(123, 74, 226, 0.5);
}

.career-content-card p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
}

/* media queries */
@media (max-width: 768px) {
    #career {
        flex-direction: column;
        align-items: center;
    }

    .career-content {
        flex-direction: column;
        align-items: center;
    }

    .career-content-left,
    .career-content-right {
        width: 100%;
    }

    .career-content-cards {
        width: 100%;
        gap: 20px;
    }

    .career-content-card {
        width: calc(100% - 40px);
        margin: 10px auto;
    }
}