/* footer styles  will still center */


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer p {
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 40px;
}